.mission-document {
	--font-body: 10pt;
	--font-heading: 30pt;
	--font-sm: 8pt;
	--font-md: 13pt;
	--font-lg: 16pt;
	--font-xl: 24pt;
	--border-width: 2.5pt;
	--border-radius: 12.5pt;

	padding: 2rem;
	min-height: 100%;
	box-sizing: border-box;
	counter-reset: page-number 0;

	/*  PAGE
	 *  ===================================================================== */
	.page {
		position: relative;
		zoom: var(--page-scale, 1);
		width: 8.5in;
		aspect-ratio: 8.5 / 11;
		max-height: 11in;
		padding: 0.75in;
		background: var(--bg);
		box-shadow: 0 2px 12px oklch(0 0 0 / 0.25);
		margin: 0 auto 2rem;
		box-sizing: border-box;
		color: var(--text);
		font-size: var(--font-body);
		line-height: 1.33;
		counter-increment: page-number 1;
	}

	.page::before {
		content: "";
		position: absolute;
		inline-size: 0.25in;
		background: var(--primary-color);
	}
	.page:nth-child(even)::before {
		inset: 0 auto 0 0;
	}
	.page:nth-child(odd)::before {
		inset: 0 0 0 auto;
	}

	.page::after {
		content: counter(page-number, decimal);
		position: absolute;
		color: var(--bg);
		background: var(--secondary-color);
		font-size: var(--font-xl);
		display: inline-block;
		font-weight: bold;
	}
	.page:nth-child(even)::after {
		inset: auto auto 0.25in 0;
		padding: 0.125em 0.375em 0.125em calc(0.25in + 0.25em);
	}
	.page:nth-child(odd)::after {
		inset: auto 0 0.25in auto;
		padding: 0.125em calc(0.25in + 0.25em) 0.125em 0.375em;
	}

	.page:last-child {
		margin-bottom: 0;
	}

	/*  HEADINGS
	 *  ===================================================================== */
	h2 {
		color: var(--bg);
		background: var(--primary-color);
		display: inline-block;
		text-transform: uppercase;
		padding: 0.0625em 0.25em;
		margin: 0.2in 0;
		font-size: var(--font-heading);
	}

	h3 {
		color: var(--primary-color);
		font-size: var(--font-heading);
		margin-block: 0.1in;
	}

	h2 + h3 {
		margin-block-start: 0;
	}

	h4 {
		color: var(--secondary-color);
		margin: 0.5em 0 0.375em 0;
		font-size: calc(var(--font-lg) + 1pt);
		line-height: 1.25;
	}

	h5 {
		color: var(--text);
		font-size: var(--font-body);
		font-weight: bold;
		line-height: 1.25;
	}

	.page > :is(h2, h3, h4, h5, h6):first-child {
		margin-block-start: 0;
	}

	:is(h2, h3, h4, h5, h6) + p {
		margin-block-start: 0;
	}

	/*  Images
	 *  ===================================================================== */
	img {
		max-block-size: 100%;
	}

	img.icon {
		display: inline-block;
		block-size: 0.75em;
		vertical-align: baseline;
	}

	/*  LISTS
	 *  ===================================================================== */
	ul {
		padding-inline-start: 8pt;
	}

	ul li {
		padding-inline-start: 0.5em;
		margin-block-end: 1em;
	}

	ul li::marker {
		content: "▶";
		display: inline-block;
		color: var(--primary-color);
		font-size: var(--font-sm);
	}

	ul.question-list,
	ul.exclaim-list {
		list-style: none;
		break-inside: avoid-column;

		li::marker {
			content: none;
		}

		li {
			border-inline-start: 0.375em solid var(--primary-color);
			margin: 0;
			padding: 0.25em 0 0.75em 1.375em;
			position: relative;
		}

		li:last-child {
			padding-bottom: 0;
		}

		li::before {
			content: "";
			display: block;
			inline-size: 1.25em;
			block-size: 1.25em;
			border: 0.375em solid var(--primary-color);
			border-radius: 1em;
			background: var(--bg);
			margin: 0;
			padding: 0;
			position: absolute;
			inset: 0.25em auto auto -0.8em;
		}

		li:first-child {
			font-weight: bold;
			border-color: transparent;
		}

		li:first-child::before {
			color: var(--primary-color);
			border: none;
			background: var(--primary-color);
			-webkit-mask-size: contain;
			mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			border-radius: 0;
			inline-size: 2.375em;
			block-size: 2.375em;
			inset: 0.25em auto auto -1.375em;
		}
	}

	ul.question-list li:first-child::before {
		inline-size: 2.125em;
		block-size: 2.125em;
		inset-inline-start: -1.25em;
		-webkit-mask-image: url("/icons/agent-question.svg");
		mask-image: url("/icons/agent-question.svg");
	}

	ul.exclaim-list li:first-child::before {
		inline-size: 3em;
		block-size: 3em;
		inset-inline-start: -1.7em;
		inset-block-start: 0;
		-webkit-mask-image: url("/icons/agent-personal-anomaly.svg");
		mask-image: url("/icons/agent-personal-anomaly.svg");
	}

	ul.commendation-list {
		list-style: none;
		padding-inline-start: 2em;

		li::marker {
			all: unset;
		}

		li {
			position: relative;
		}

		li::before {
			content: "";
			display: inline-block;
			inline-size: 2em;
			block-size: 2em;
			position: absolute;
			inset: 0.125em auto auto -2em;
		}

		li.commendations::before {
			background: url("/icons/commendation.svg") no-repeat center / contain;
		}

		li.demerits::before {
			background: url("/icons/demerit.svg") no-repeat center / contain;
		}
	}

	/*  GENERAL TABLES
	 *  ===================================================================== */
	table {
		border: var(--border-width) solid var(--agency-ink);
		color: var(--agency-ink);
		border-radius: var(--border-radius);
		border-spacing: 0;
		inline-size: 100%;
		margin-block: 0 2em;

		thead {
			display: none;
		}

		tr {
			position: relative;
		}

		td {
			min-inline-size: 3em;
			padding: 10pt;
			border-inline-end: calc(var(--border-width) - 1pt) solid var(--agency-ink);
		}

		td > *:first-child {
			margin-block-start: 0;
		}

		td:last-child {
			border-inline-end: none;
		}

		tr:last-child td:first-child {
			border-end-start-radius: calc(var(--border-radius) - 2pt);
		}
		tr:last-child td:last-child {
			border-end-end-radius: calc(var(--border-radius) - 2pt);
		}

		tr:nth-child(even) td {
			background: var(--agency-gray);
		}

		td br + span.space {
			display: block;
			height: 0.875em;
		}

		td.numeric {
			font-size: var(--font-xl);
			font-weight: bold;
			text-align: center;
			line-height: 1;
			letter-spacing: -0.125ch;
			text-wrap: nowrap;
		}
	}

	/*  CHAOS TABLE
	 *  ===================================================================== */
	table.chaos-table {
		border: var(--border-width) solid var(--agency-ink);
		color: var(--agency-ink);

		caption {
			color: var(--agency-red);
			text-align: start;
			font-size: 90%;
			display: none;
			padding: 0.375em 0;
			font-style: italic;

			i {
				display: inline-block;
				font-size: var(--font-sm);
				font-style: normal;
				margin-inline-end: 0.5em;
			}
		}

		&:has(.new-effect) caption {
			display: table-caption;
		}

		td:nth-child(1) {
			font-size: var(--font-xl);
			font-weight: bold;
			text-align: center;
			line-height: 1;
			inline-size: 3em;
			letter-spacing: -0.125ch;
		}

		td:nth-child(1)::after {
			content: "";
			background-image: url("/icons/chaos.svg");
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			inline-size: 0.75em;
			block-size: 0.75em;
			margin-inline-start: 0.175em;
		}

		td:nth-child(2) {
			font-size: var(--font-md);
			font-weight: bold;
			text-align: center;
			line-height: 1;
			inline-size: 7.5em;
		}

		tr.new-effect td:nth-child(2) {
			color: var(--secondary-color);
		}

		tr.new-effect td:nth-child(1)::before {
			content: "▲";
			color: var(--agency-red);
			font-size: var(--font-sm);
			inline-size: 1em;
			block-size: 100%;
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: -2em;
			display: flex;
			align-items: center;
		}
	}

	/*  CUSTOM ELEMENTS
	 *  ===================================================================== */
	two-columns {
		display: block;
		column-count: 2;
		column-gap: 3em;
		margin: 0 0 0.25in 0;
	}

	two-columns > *:first-child {
		margin-block-start: 0;
	}

	two-colums > p {
		break-inside: avoid-column;
	}

	one-column {
		display: block;
		inline-size: calc(50% - 0.25in);
		margin-inline-end: 0.125in;
		float: inline-start;
	}

	one-column + one-column {
		float: inline-end;
		margin-inline-start: 0.125in;
	}

	major-callout {
		display: block;
		position: relative;
		border: 0.25em solid var(--primary-color);
		border-radius: 0 var(--border-radius) var(--border-radius)
			var(--border-radius);
		padding: 0.5em 1em;
		margin-block-start: calc(33pt + 1em);
		break-inside: avoid-column;
	}

	major-callout::before {
		content: attr(title);
		display: inline-block;
		background: var(--primary-color);
		color: var(--bg);
		font-weight: bold;
		font-size: var(--font-lg);
		padding: 0.125em 2em 0.125em 0.375em;
		border-start-start-radius: var(--border-radius);
		/* clip-path: polygon(0 0, calc(100% - 2.5em) 0, calc(100% - 1.5em) 0.5em, 100% 100%, 0 100%); */
		clip-path: polygon(
			0 0,
			calc(100% + -2.5em) 0,
			calc(100% + -2.4132em) 0.0181em,
			calc(100% + -2.3297em) 0.0379em,
			calc(100% + -2.2494em) 0.0595em,
			calc(100% + -2.1724em) 0.0828em,
			calc(100% + -2.0986em) 0.1079em,
			calc(100% + -2.028em) 0.1348em,
			calc(100% + -1.9606em) 0.1634em,
			calc(100% + -1.8965em) 0.1938em,
			calc(100% + -1.8356em) 0.2259em,
			calc(100% + -1.778em) 0.2598em,
			calc(100% + -1.7236em) 0.2954em,
			calc(100% + -1.6724em) 0.3328em,
			calc(100% + -1.6244em) 0.372em,
			calc(100% + -1.5797em) 0.4129em,
			calc(100% + -1.5382em) 0.4556em,
			calc(100% + -1.5em) 0.5em,
			100% 100%,
			0 100%
		);
		border: var(--border-width) solid var(--primary-color);
		position: absolute;
		inset: -31.5pt auto auto -2.1pt;
	}

	major-callout[type="requisition"] {
		border-color: var(--agency-red);
	}

	major-callout[type="requisition"]::before {
		border-color: var(--agency-red);
		background-color: var(--agency-red);
	}

	major-callout[type="anomaly"] {
		border-color: var(--anomaly-blue);
	}

	major-callout[type="anomaly"]::before {
		border-color: var(--anomaly-blue);
		background-color: var(--anomaly-blue);
	}

	minor-callout {
		display: block;
		position: relative;
		border: var(--border-width) solid var(--primary-color);
		border-radius: var(--border-radius);
		padding: 1em 1em 0.5em 1em;
		margin-block-start: calc(13pt + 1em);
		break-inside: avoid-column;
	}

	minor-callout::before {
		content: attr(title);
		display: inline-block;
		color: var(--primary-color);
		background: var(--bg);
		font-weight: bold;
		font-size: var(--font-lg);
		position: absolute;
		inset: -13pt auto auto 1em;
		padding: 0 0.5em;
	}

	commendation-cost {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.1em;
		font-size: var(--font-xl);
		font-weight: bold;
		color: var(--agency-red);
		padding: 0.25em;
		line-height: 1;
		border: var(--border-width) solid var(--agency-red);
		border-radius: var(--border-radius);
		float: inline-end;
		margin: 0 0 0.5em 0.5em;
	}

	commendation-cost::after {
		content: "";
		display: inline-block;
		inline-size: 0.95em;
		block-size: 0.95em;
		background: var(--agency-red);
		-webkit-mask: url("/icons/commendation.svg") no-repeat center / contain;
		mask: url("/icons/commendation.svg") no-repeat center / contain;
	}

	on-success,
	on-special,
	on-failure {
		display: block;
		position: relative;
		padding: 0 0 0 2.5em;
	}

	:is(on-success, on-special, on-failure)::before {
		content: "";
		display: block;
		inline-size: 1.75em;
		block-size: 1.75em;
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		position: absolute;
		inset: 0 auto auto 0;
	}

	on-success::before {
		background: var(--anomaly-blue);
		-webkit-mask-image: url("/icons/ability-success.svg");
		mask-image: url("/icons/ability-success.svg");
	}

	on-special::before {
		background: var(--anomaly-blue);
		-webkit-mask-image: url("/icons/ability-additional-outcome.svg");
		mask-image: url("/icons/ability-additional-outcome.svg");
	}

	on-failure::before {
		background: var(--agency-red);
		-webkit-mask-image: url("/icons/ability-failure.svg");
		mask-image: url("/icons/ability-failure.svg");
	}

	:is(on-success, on-special, on-failure) ul {
		list-style: none;
		padding: 0;
		margin-inline-start: -1.75em;

		li::marker {
			content: none;
		}

		li {
			border-inline-start: 0.375em solid var(--anomaly-blue);
			margin: 0;
			padding: 0.25em 0 0.75em 1.375em;
			position: relative;
		}

		li::before {
			content: "";
			display: block;
			inline-size: 1.25em;
			block-size: 1.25em;
			border: 0.375em solid var(--anomaly-blue);
			border-radius: 1em;
			background: var(--bg);
			margin: 0;
			padding: 0;
			position: absolute;
			inset: 0.25em auto auto -0.8em;
		}

		li:last-child {
			padding-bottom: 0;
		}
	}
}

@media print {
	.mission-document {
		padding: 0;
	}

	.mission-document .page {
		width: 100%;
		max-height: none;
		min-height: auto;
		box-shadow: none;
		margin: 0;
		break-after: page;
		page-break-after: always;
		zoom: 0.971; /* I don't know why this number */
	}

	.mission-document .page:last-child {
		break-after: avoid;
		page-break-after: avoid;
	}
}
